//phone
@media(max-width: 768px) {
    .video-div {
        //height: 100%;
        .image {
            width: 100%;
        }
        .video {
            width: 100%;
            min-width: -webkit-fill-available; 
        }
    }
}

//else
@media(min-width: 993px) {
    .video-div {
        height: 50%;
        //height: 100%;
        .image {
            width: 100%;
        }
        .video {
            width: 100%;
            min-width: -webkit-fill-available; 
        }
    }
}