<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div text-div-detail">
        <ul>
            <li><a href="<%= videos_apsilon_path %>"  style="color: blue !important;">01 Apsilon</a></li>
            <li><a href="<%= videos_michaelbrandon_path %>">02 Michael Brandon</a></li>
        </ul>
    </div>
    <div class="image-div video-div">
        <iframe class="video" src="https://www.youtube.com/embed/gUIED-ET4S8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="project-desc">
            <p>A range of videos and visualizers for Apsilon's second EP 32 Zähne. The majority were directed with the help of my brothers Arman and Hasan.</p>
        </div>
        <iframe class="video" src="https://www.youtube.com/embed/zYoibVt_YZo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/af8Mo5A39Bg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/Ojn_lgFYfkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/KMECDnFC4tI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
