<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div">
        <ul>
            <li><a href="<%= videos_zahnfleisch_path %>">01 Apsilon x Xaver - Zahnfleisch</a></li>
            <li><a href="<%= videos_druck_path %>">02 Apsilon - Druck</a></li>
            <li><a href="<%= videos_koefte_path %>" style="color: blue !important;">03 Apsilon - Köfte</a></li>
        </ul>
    </div>
    <div class="image-div video-div">
        <iframe class="video" src="https://www.youtube.com/embed/jSwJaCsSD8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="project-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus augue vel pretium aliquet. Nullam ipsum sem, maximus eget tristique et, maximus ac odio. Nam tempus scelerisque tempus. Maecenas dapibus et enim sit amet pulvinar. Ut non dolor eu lacus sodales iaculis in sit amet nisi. Donec blandit scelerisque sem. Morbi semper ultricies ligula ut sollicitudin. Cras posuere blandit suscipit</p>
        </div>
    </div>
</div>


