<a href="<%= root_path %>" class="back-btn">home</a>

<div class="photos-videos-div">
    <div class="text-div text-div-detail">
        <ul>
            <li><a href="<%= videos_apsilon_path %>">01 Apsilon</a></li>
            <li><a href="<%= videos_michaelbrandon_path %>" style="color: blue !important;">02 Michael Brandon</a></li>
        </ul>
    </div>
    <div class="image-div video-div">
        <iframe class="video" src="https://www.youtube.com/embed/iItmxHQk88w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="project-desc">
            <p>Music Video for Michael Brandons second single Bei Mir. Shot on 8mm.</p>
        </div>
    </div>
</div>