<a href="<%= root_path %>" class="back-btn">home</a>
<div class="photos-videos-div">
    <div class="text-div">
        <ul>
            <li><a href="<%= videos_apsilon_path %>">01 Apsilon</a></li>
            <li><a href="<%= videos_michaelbrandon_path %>">02 Michael Brandon</a></li>
        </ul>
    </div>
</div>